@mixin font18 {
	line-height: 27px;
	font-size: 18px;
}
@mixin font15 {
	line-height: 22px;
	font-size: 15px;
}
@mixin font13 {
	line-height: 19px;
	font-size: 13px;
}
@mixin font11 {
	line-height: 17px;
	font-size: 11px;
}
@mixin font10 {
	line-height: 15px;
	font-size: 10px;
}

@mixin mediaPc {
	@media only screen and (min-width: 1024px) {
		@content;
	}
}

@mixin mediaMobile {
	@media only screen and (max-width: 1023px) {
		@content;
	}
}

@mixin less360 {
	@media only screen and (max-width: 359px) {
		@content;
	}
}

@mixin retina2x {
	@media only screen and (-o-min-device-pixel-ratio: 5/4),
			only screen and (-webkit-min-device-pixel-ratio: 1.25),
			only screen and (min-device-pixel-ratio: 1.25),
			only screen and (min-resolution: 1.25dppx) {
		@content;
	}
}

@mixin retina3x {
	@media only screen and (-o-min-device-pixel-ratio: 9/4),
	 		only screen and (-webkit-min-device-pixel-ratio: 2.25),
			only screen and (min-device-pixel-ratio: 2.25),
			only screen and (min-resolution: 2.25dppx) {
		@content;
	}
}

@mixin retina2xMobile {
	@media only screen and (max-width: 1023px) and (-o-min-device-pixel-ratio: 5/4),
			only screen and (max-width: 1023px) and (-webkit-min-device-pixel-ratio: 1.25), 
			only screen and (max-width: 1023px) and (min-device-pixel-ratio: 1.25), 
			only screen and (max-width: 1023px) and (min-resolution: 1.25dppx) {
		@content;
	}
}

@mixin retina3xMobile {
	@media only screen and (max-width: 1023px) and (-o-min-device-pixel-ratio: 9/4),
			only screen and (max-width: 1023px) and (-webkit-min-device-pixel-ratio: 2.25),
			 only screen and (max-width: 1023px) and (min-device-pixel-ratio: 2.25), 
			 only screen and (max-width: 1023px) and (min-resolution: 2.25dppx) {
		@content;
	}
}

@mixin placeholder {
	&::-webkit-input-placeholder {
		@content;
	}
	&:-moz-placeholder {
		@content;
	}
	&::-moz-placeholder {
		@content;
	}
	&:-ms-input-placeholder {
		@content;
	}
}

@mixin ios {
	@at-root .ios & {
		@content;
	}
}

@mixin android {
	@at-root .android & {
		@content;
	}
}

@mixin customRoot($name) {
	@at-root #{$name} & {
		@content;
	}
}

@mixin optional-at-root($sel) {
	@at-root #{if(not &, $sel, selector-append(&, $sel))} {
		@content;
	}
}
