.definition-tag-container {
    display: grid;
}
.definition-tag-container + .definition-tag-container {
    margin-top: 16px;
}

.modal-item + .definition-tag-container {
    margin-top: 16px;
}

.combine-input-container + .definition-tag-container {
    margin-top: 16px;
}