@import "../assets/scss/color.scss";

.input-wrapper {
    display: inline-flex;
    position: relative;
    flex-direction: column;

    .input-message {
        position: relative;
        margin-top: 4px;
        font-size: 10px;
        color: $gray60;
        &::before {
            content: '*'
        }
        &.error {
            &::before {
                content: ''
            }
            color: $red60;
        }
    }
}