@import "../assets/scss/color.scss";

.input-container {
    display: flex;
    align-items: center;
    span {
        font-size: 11px;
        color: $gray50;
    }
    .input-list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-left: 8px;
        > label + input {
            margin-left: 12px;
        }
        > input + .input-component {
            margin-left: 8px;
        }
        > * {
            vertical-align: middle;
        }
    }
}
