@import "../assets/scss/color.scss";

$modal-size-small : 384px;
$modal-size-medium: 768px;
$modal-size-large: 1152px;

.modal-wrap {
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 990;
    .overlay {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 990;
    }
    .modal {
        border-radius: 8px;
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.05);
        background-color: white;

        position: fixed;
        z-index: 999;
        max-height: 90vh;
        max-width: 100vw;
        overflow-y: scroll;
        overflow-x: scroll;
        &.no-scroll {
            overflow-y: inherit;
            overflow-x: inherit;
        }
        > header {
            display: flex;
            flex-direction: column;
            padding: 20px;
            padding-bottom: 16px;
            border-bottom: 1px solid $gray5;
            .header-top {
                display: flex;
                justify-content: space-between;
                h1 {
                    font-size: 18px;
                    font-weight: bold;
                    color: $gray100;
                    line-height: 48px;
                }
                .btn-area {
                    button + button {
                        margin-left: 8px;
                    }
                }
            }
            .header-bottom {
                font-size: 11px;
                color: $gray60;
            }
        }
        > .modal-contents {
            padding: 20px 20px 24px;
			&.with-section {
				background-color: #f7f7f7;
			}
            .modal-item {
                display: grid;

                &.checkbox-radio {
                    align-items: center;
                }

                > label {
                    position: relative;
                    top: 10px;
                    justify-self: end;

                    &.checkbox-radio {
                        top: 0;
                    }
                }

                button {
                    justify-self: start;
                }
            }
            div + .modal-item {
                margin-top: 16px;
            }

            .combine-input-container {
                display: grid;

                > span {
                    position: relative;
                    top: 10px;
                    justify-self: end;
                }
                > .combine-input-list {
                    display: grid;
                }
            }
            div + .combine-input-container {
                margin-top: 16px;
            }

            .input-container {
                display: grid;
            }
            div + .input-container {
                margin-top: 16px;
            }
        }
        footer {
            padding: 8px 20px;
            border-top: 1px solid $gray5;
        }
    }
}

.modal-size-small {
    width: $modal-size-small;
    > .modal-contents {
        .modal-item {
            grid-template-columns: ($modal-size-small - 40) * 0.25 1fr;
        }
        .combine-input-container {
            grid-template-columns: ($modal-size-small - 40) * 0.25 1fr;
        }
        .definition-tag-row {
            grid-template-columns: ($modal-size-small - 40) * 0.25 1fr;
        }
    }
}
.modal-size-medium {
    width: $modal-size-medium;
    > .modal-contents {
        .modal-item {
            grid-template-columns: ($modal-size-medium - 40) * 0.25 1fr;
        }
        .combine-input-container {
            grid-template-columns: ($modal-size-medium - 40) * 0.25 1fr;
        }
        .definition-tag-row {
            grid-template-columns: ($modal-size-medium - 40) * 0.25 1fr;
        }
    }
}
.modal-size-large {
    width: $modal-size-large;
    > .modal-contents {
        .modal-item {
            grid-template-columns: ($modal-size-large - 40) * 0.25 1fr;
        }
        .combine-input-container {
            grid-template-columns: ($modal-size-large - 40) * 0.25 1fr;
        }
        .definition-tag-row {
            grid-template-columns: ($modal-size-large - 40) * 0.25 1fr;
        }
    }
}

.split-line {
    height: 1px;
    background-color: $gray5;
}
