@import '../assets/scss/mixins';
@import '../assets/scss/color.scss';
.popup-wrap {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	.overlay {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, .08);
		z-index: 999;
	}
	.popup {
		position: relative;
		padding: 24px 16px 16px 24px;
		min-width: 384px;
		border-radius: 8px;
		box-sizing: border-box;
		box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .1);
		background-color: #fff;
		z-index: 1000;
	}
	.circle {
		position: absolute;
		left: 12px;
		top: 12px;
		width: 6px;
		height: 6px;
		border-radius: 50%;
	}
	&.success {
		.circle {
			background-color: $green60;
		}
	}
	&.warn {
		.circle {
			background-color: $yellow60;
		}
	}
	&.fail {
		.circle {
			background-color: $red60;
		}
	}
	.popup-content {
		@include font13;
		color: #191919;
		white-space: pre-line;
	}
	.popup-btns {
		display: flex;
		justify-content: flex-end;
		margin-top: 16px;

		button + button {
            margin-left: 8px;
        }
	}
}
.confirm-popup {
	position: absolute;
	left: 50%;
	top: 50%;
	background-color: #fff;
}