@import "../assets/scss/color.scss";

.section {
    border-radius: 8px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.05);
    padding: 20px 20px 24px;
    background-color: white;
    header {
        display: flex;
        flex-direction: column;
        margin-bottom: 16px;
        .header-top {
            display: flex;
            justify-content: space-between;
            h1 {
                font-size: 15px;
                font-weight: bold;
                color: $gray80;
                line-height: 1.5;
            }
            .section-btn-area {
                display: flex;

                button + button {
                    margin-left: 8px;
                }
            }
        }
        .header-bottom {
            font-size: 11px;
            color: $gray60;
        }
    }
    > .section-box-item {
        display: grid;
        grid-template-columns: 150px 1fr;
        margin-top: 16px;

        > label {
            position: relative;
            top: 10px;
            justify-self: end;
            
        }
    }
    > .combine-input-container {
        display: grid;
        grid-template-columns: 150px 1fr;
        margin-top: 16px;

        > span {
            position: relative;
            top: 10px;
            justify-self: end;
        }
        > .combine-input-list {
            display: grid;
        }
    }
}

section + section {
    margin-left: 20px;
}
