.toast-wrap {
	> div {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		display: flex;
		flex-direction: column;
	}
	.left-top {right: auto; bottom: auto;}
	.left-bottom {right: auto; top: auto; flex-direction: column-reverse;}
	.right-top {left: auto; bottom: auto;}
	.right-bottom {left: auto; top: auto; flex-direction: column-reverse;};
	.toast {
		position: relative;
		margin: 2px;
		padding: 24px 16px 16px 24px;
		min-width: 384px;
		border-radius: 8px;
		box-sizing: border-box;
		box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .1);
		background-color: #fff;
		z-index: 1000;
		.circle {
			position: absolute;
			left: 12px;
			top: 12px;
			width: 6px;
			height: 6px;
			border-radius: 50%;
			background-color: #df032b;
		}
	}
	.toast-content {
		line-height: 19px;
		font-size: 13px;
		color: #191919;
		white-space: pre-line;
	}
}
