.toast-wrap {
	> div {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		display: flex;
		flex-direction: column;
	}
	.left-top {
		right: auto;
		bottom: auto;
	}
	.left-bottom {
		right: auto;
		top: auto;
		flex-direction: column-reverse;
	}
	.right-top {
		left: auto;
		bottom: auto;
	}
	.right-bottom {
		left: auto;
		top: auto;
		flex-direction: column-reverse;
	}
	.toast {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin: 2px;
		min-width: 384px;
		border-radius: 8px;
		padding: 12px 16px 16px 12px;
		background-color: white;
		box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
		box-sizing: border-box;
		z-index: 1000;
		.circle {
			width: 6px;
			height: 6px;
			border-radius: 50%;

			&.red {
				background-color: $red60;
			}
			&.green {
				background-color: $green60;
			}
			&.yellow {
				background-color: $yellow60;
			}
		}
		& + .toast {
			margin-top: 4px;
		}

		.toast-content {
			margin: 4px 12px;
			font-size: 13px;
			color: $gray100;
			line-height: 1.5;
		}
	}
	.toast-content {
		margin: 4px 12px;
		font-size: 13px;
		color: $gray100;
		line-height: 1.5;
	}
}
