@import "../assets/scss/color.scss";

.breadcrumb {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 16px 20px;

    .breadcrumb-item {
        font-size: 12px;
        color: $gray50;
        padding: 0 8px 1px;

        &.depth1 {
            padding: 0 8px 1px 0;
        }

        &.depth2 {
            font-weight: 700;
            color: $blue60;
            text-decoration: underline;
            cursor: pointer;
        }
    }
}
