@import "../assets/scss/color.scss";

button {
  border-radius: 8px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  &:disabled {
    color: $gray30;
    border: 1px solid $gray30;
    background-color: $gray10;
  }

  &.in-modal-item {
    margin: 4px 0 0 8px;
  }
}

@mixin buttonColor($color) {
  background-color: $color;
  border: 1px solid $color;
  color: $color;
  > i > svg {
    fill: $color
  }
}
@mixin baseStyleLinkAndText() {
  background-color: transparent;
  border: none;
  outline: none;
}

// button color
.btn-color-blue {
  @include buttonColor($blue60);
  &:hover {
    @include buttonColor($blue40);
  }
  &:active {
    @include buttonColor($blue80);
  }
}
.btn-color-yellow {
  @include buttonColor($yellow60);
  &:hover {
    @include buttonColor($yellow40);
  }
  &:active {
    @include buttonColor($yellow80);
  }
}
.btn-color-green {
  @include buttonColor($green60);
  &:hover {
    @include buttonColor($green40);
  }
  &:active {
    @include buttonColor($green80);
  }
}
.btn-color-red {
  @include buttonColor($red60);
  &:hover {
    @include buttonColor($red40);
  }
  &:active {
    @include buttonColor($red80);
  }
}

// button size

.btn-size-large {
  padding: 0 20px 2px;
  height: 48px;
  font-size: 15px;
  &.btn-icon-text {
    > i > svg {
      width: 26px;
      height: 26px;
    }
  }
}
.btn-size-middle {
  padding: 0 16px 2px;
  height: 40px;
  font-size: 14px;
  &.btn-icon-text {
    > i > svg {
      width: 22px;
      height: 22px;
    }
  }
}
.btn-size-small {
  padding: 0 12px 1px;
  height: 32px;
  font-size: 13px;
  border-radius: 4px;
  &.btn-icon-text {
    > i > svg {
      width: 18px;
      height: 18px;
    }
  }
}
.btn-size-xs {
  padding: 0 8px 1px;
  height: 24px;
  font-size: 11px;
  border-radius: 4px;
  &.btn-icon-text {
    > i > svg {
      width: 14px;
      height: 14px;
    }
  }
}

// button type
.btn-type-solid {
  color: white;
  > i > svg {
    fill: white
  }
  &:hover {
    color: white;
    > i > svg {
      fill: white
    }
  }
  &:focus {
    box-shadow: 0 1px 5px 0 transparentize($color: $blue80, $amount: 0.2);
  }
  &:active {
    color: white;
  }
  &:disabled {
    border: 1px solid $gray10;
  }
}
.btn-type-line {
  background-color: white;
  &:hover {
    background-color: white;
  }
  &:focus {
    box-shadow: 0 1px 5px 0 transparentize($color: $blue80, $amount: 0.2);
  }
  &:active {
    background-color: white;
  }
  &:disabled {
    background-color: white;
  }
}
.btn-type-text {
  @include baseStyleLinkAndText();
  &:hover {
    @include baseStyleLinkAndText();
  }
  &:disabled {
    @include baseStyleLinkAndText();
  }
  &:focus {
    > span {
      background-color: $gray20;
    }
  }
  &:active {
    background-color: transparent;
    border: none;
    > span {
      background-color: transparent;
    }
  }
}
.btn-type-link {
  @include baseStyleLinkAndText();
  text-decoration: underline;
  &:hover {
    @include baseStyleLinkAndText();
  }
  &:disabled {
    @include baseStyleLinkAndText();
  }
  &:focus {
    > span {
      background-color: $gray20;
    }
  }
  &:active {
    background-color: transparent;
    border: none;
    > span {
      background-color: transparent;
    }
  }
}

// icon 형식
.btn-icon-text {
  padding-top: 2px;
  > span {
    margin-left: 8px;
  }
  > i {
    vertical-align: middle;
  }
}

.btn-disabled {
  &:hover {
    cursor: not-allowed;
    color: $gray30;
    background-color: $gray10;

    &.btn-type-line {
      border: 1px solid $gray30;
      background-color: white;
    }
    &.btn-type-text {
      background-color: transparent;
    }
    &.btn-type-link {
      background-color: transparent;
    }
  }
}