@import "../color.scss";
$selectArrowSvg: "<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><g data-name='Layer 2'><g data-name='arrow-ios-downward'><rect width='24' height='24' opacity='0'/><path d='M12 16a1 1 0 0 1-.64-.23l-6-5a1 1 0 1 1 1.28-1.54L12 13.71l5.36-4.32a1 1 0 0 1 1.41.15 1 1 0 0 1-.14 1.46l-6 4.83A1 1 0 0 1 12 16z'/></g></g></svg>";

.select-box {
    position: relative;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    background-color: white;
    border-radius: 4px;
    border: 1px solid $gray20;
    padding: 6px 12px;
    font-size: 13px;
    color: $gray100;
    cursor: pointer;
    &:focus {
        outline: none;
        border: 1px solid $blue60;
        box-shadow: 0 1px 5px 0 rgba(28, 71, 154, 0.3);
    }
    .selected-item {
        position: relative;
        font-size: 13px;
        color: $gray100;
    }
    > i > svg {
        fill: $gray100;
    }
    .list {
        overflow: auto;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        margin-top: 1px;
        padding-bottom: env(safe-area-inset-bottom);
        width: 100%;
        height: auto;
        max-height: 268px;
        border-radius: 4px;        
        box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
        background-color: white;
        z-index: 90;
        li {
            padding: 8px 12px;
            cursor: pointer;
            &:hover {
                background-color: $blue10;
            }
        }
    }
}
